* {
  box-sizing: border-box;
}

body {
  color: white;
  background: #333;

  ul {
    margin: 0; padding: 0;
  }

  ul.routes > li {
    list-style: none;
    text-align: center;
    margin: 10px;
    a {
      color: red;
      text-decoration: none;
    }
  }
}

.text-center {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;

  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    label {
      flex-basis: auto;
      padding: 5px 0;
    }

    input, select, textarea {
      flex-basis: 100%;
    }

    input[type=checkbox] {
      margin: 8px;
      flex-basis: auto;
    }

    button#submit {
      margin: 0 auto;
    }
  }

  a.button {
    background: white;
    color: black;
    padding: 1px 6px;
    float: right;
  }
}

.document-list-table {
  margin: 0 auto;
  border: 1px solid white;

  td, th {
    padding: 3px;
  }

  td:not(:last-child), th {
    border-bottom: 1px solid white;
  }
}

